.animalsContainer {
  display: flex;
  justify-content: space-evenly;
}

.animalCard {
  width: 200px;
  text-align: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animalCard img {
  height: 100%;
}

.animalImage {
  height: 150px;
}